@import url('https://fonts.googleapis.com/css?family=Sen:400,700,800&display=swap');

body{

    font-family: 'Sen', sans-serif;
}

img{
    max-height: 80vh;
    max-width: 80vw;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

a{
    color: black;
}

a:visited{
    color: black;
}

#guess_box{ 
    font-size: 3rem;
    position: absolute;  
    left: 50%;                        
    top: 50%;                        
    transform: translate(-50%, -50%);
    
    }
#main_window{ 
    flex: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 800px;
    }

#start_over{
    position: absolute;  
    left: 50%;                        
    top: 50%;                        
    transform: translate(-50%, -50%); 
}
#top_left{
    position: absolute;
}
#question_box {
    font-size: 1.2rem;
    flex: 1;
    max-width: 900px;
    padding-top: 10px;
}

#infos {
    
    padding-top: 10px;
}